@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --foreground-rgb: 0, 0, 0;
  --foreground: #ffffff;
  --background-color: #1e292d;
  --accent-color: #51D696;
  --accent-hover-color: #31F999;
  --secondary-rgb: 142, 142, 142;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  font-family: 'GT-America', sans-serif;
  background: var(--background-color);
}


@font-face {
  font-family: 'GT-America';
  src: url('/assets/GT-America/GT-America-Standard-Regular.ttf');
}

/* @font-face {
  font-family: 'Editorial-New-Regular';
  src: url('/assets/EditorialNew/PPEditorialNew-Regular.ttf');
} */

a {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-hover-color);
  text-decoration: underline;
}