@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


:root {
  --foreground-rgb: 0, 0, 0;
  --foreground: #ffffff;
  --background-blue: #321AC6;
  --secondary-rgb: 142, 142, 142;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  font-family: 'Editorial-New-Regular', sans-serif;
  background: var(--background-blue);
}


@font-face {
  font-family: 'Editorial-New-Regular';
  src: url('/assets/EditorialNew/PPEditorialNew-Regular.ttf');
}

a:hover {
  color: var(--foreground);
  text-decoration: underline;
}